@model WMStock.Models.Personal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Personal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Surname)*@
            Soyadı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Pjob)*@
            Ünvan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pjob)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Department.DepartmentName)*@
            Departman Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.PersonalId }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
