@model WMStock.Models.Modal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.ModalID }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
